Create a function called my_discount. The function takes no arguments but asks the user to input the price and the
discount (percentage) of the product. Once the user inputs the price and discount, it calculates the price after the discount.
The function should return the price after the discount. For example, if the user enters 150 as price and 15% as the discount,
your function should return 127.5.

In [1]:
#creating function my_discount
def my_discount():
    Price = float(input("Enter price of the product: $"))
    Discount = float(input("Enter discount rate on the product: "))
    Discounted_price = Price - (Price * Discount/100)
    print("The price of this product after discount is ${:.2f}".format(Discounted_price))
#{:.2f}.format(discounted price) is a placeholder to specify I want the discounted price calculated to 2 decimal places
my_discount()

Enter price of the product: $150
Enter discount rate on the product: 15
The price of this product after discount is $127.50

Extra Challenge: Tuple of Student Sex

You work for a school and your boss wants to know how many female and male students are enrolled in the school. The school
has saved the students in a list. Your task is to write a code that will count how many males and females are in the list. Here is a list below:
students = ['Male', 'Female', 'female', 'male', 'male', 'male','female', 'male', 'Female', 'Male', 'Female', 'Male', 'female']
Your code should return a list of tuples. The list above should return: [(‘Male’,7), (‘female’,6)]

In [2]:
#program to count number of males and females enrolled in a school
#defining the function num_on_roll to count male and female students
def num_on_roll(students):
    male_list = []
    m_count = 0
    for x in students:
        if x == 'male' or x == 'Male':
            m_count = m_count + 1
            male_list.append(x)
    female_list = []
    f_count = 0
    for x in students:
        if x == 'female' or x == 'Female':
            f_count = f_count + 1
            female_list.append(x)
    print([("Male", m_count),("female", f_count)])
          
students = ['Male', 'Female', 'female', 'male', 'male', 'male','female', 'male', 'Female', 'Male', 'Female', 'Male', 'female']
num_on_roll(students)

[('Male', 7), ('female', 6)]

In [3]:
#alternatively
def num_on_roll(students):
    male_list = [] 
    for x in students:
        if x == 'male' or x == 'Male':
            male_list.append(x)
    female_list = []
    for x in students:
        if x == 'female' or x == 'Female':
            female_list.append(x)
    print([("Male", len(male_list)),("female", len(female_list))])

students = ['Male', 'Female', 'female', 'male', 'male', 'male','female', 'male', 'Female', 'Male', 
            'Female', 'Male', 'female']
num_on_roll(students)

[('Male', 7), ('female', 6)]