Day 14: Flatten the List
Write a function called flat_list that takes one argument, a nested list. The function converts the nested list into a one dimension list. For example [[2,4,5,6]] should return [2,4,5,6].

In [1]:
def flat_list(nested_list):
#using list comprehension,replace sublist in the nested_list with the numbers in the sublist.  
    one_list = [num for sublist in nested_list for num in sublist]
    print(one_list)
nested_list = [[2,4,5,6]]
flat_list(nested_list)

[2, 4, 5, 6]

Extra Challenge: Teacher’s Salary
A school has asked you to write a program that will calculate teachers' salaries. The program should ask the user to enter the teacher’s name, the number of periods taught in a month, and the rate per period. The monthly salary is calculated by multiplying the number of periods by the monthly rate. The current monthly rate per period is $20. If a teacher has more than 100 periods in a month, everything above 100 is overtime. Overtime is $25 per period. For example, if a teacher has taught 105 periods, their monthly gross salary should be 2,125. Write a function called your_salary that calculates a teacher’s gross salary. The function should return the teacher’s name, periods taught, and gross salary. Here is how you should format your output:
Teacher: John Kelly, Periods: 105 Gross salary:2,125

In [2]:
def Teachers_name(first, last):
    print("\nTeacher: {} {}".format(first, last))
          
def calc_salary(periods, monthly_rate):
    print("Periods: ",periods)
    
    if periods > 100:
        overtime = 25
        overtime_pay = (periods-100)*overtime
        salary = (monthly_rate*100) + overtime_pay
        print("Gross salary: ","{:,}".format(salary)) 
        
    else:
        if periods <= 100:
            salary = (monthly_rate*periods)
            print("Gross salary: ","{:,}".format(salary))
        
first = input("Enter your first name: ")
last = input("Enter your last name: ")          
periods = int(input("Enter the number of periods taught: "))
monthly_rate = int(input("Enter the monthly rate: "))

def your_salary():
    Teachers_name(first, last)
    calc_salary(periods, monthly_rate)
your_salary()

Enter your first name: John
Enter your last name: Kelly
Enter the number of periods taught: 105
Enter the monthly rate: 20

Teacher: John Kelly
Periods:  105
Gross salary:  2,125